#Contain_1{
    /* border: 2px solid black; */
    height: 1000px;
    width: 100%;
}
.Main{
    top: 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color:rgb(72, 126, 197);
    max-height: 120px;
    
}
section>img{
    float: right;
    max-width: 100%;
    max-height: 120px;
}
.navbar{
    background-color: black;
    max-height: 110px;
    padding: 20px;
}
.navbar li{
    display: inline-block;
    font-size: 30px;
}
.navvbar ul li{
    font-size: 30px;
    position: relative;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 60px;
}
.navbar li a:hover ,.navbar li a.active {
    color: gray;
    text-decoration:underline;
}
.Img{
    display: inline-block;
    width: 30%;
}
#Contain_2{

background-color: gray;
}
.content{
    position: relative;
}
.image{
display:inline-block;
/* border: 2px solid green; */
margin-right: 100px;
width: 21%;
}
.Data{
text-align: center;
display: inline-block;
width: 21%;
margin-right: 100px;
}
#Contain_3{
background-color: rgb(31, 8, 3);
font-size: 10px;
padding: 20px;
}
.btn{
/*background-color:black;*/
background-color: black;
padding: 3px 5px;
color: white;
border-color: gray;
border-radius: 10px;
font-size: 20px;
cursor: pointer;
display: inline-block;
margin: 0 40px;
}
.paradiv{
    padding: 15px;
    background-color: gray;
}
#para{
/* border: 2px solid red; */
font-size: 20px;
background-color: gray;
}
#Contain_4{
background-color:black;
padding: 20px;
}
.Box{
border: 2px solid black;
border-radius: 50%;
display: inline-block;
height: 210px;
width: 210px;
margin-left: 600px;
background-image: repeating-conic-gradient(brown 0deg,brown 90deg,gray 90deg,gray 160deg,black 160deg,black 270deg);
}
button:hover{
background-color: brown;
}
button{
font-size: 20px;
}
footer>div{
font-size: 20px;
color: white;
background-color: black;
}